#calendar {
    position: relative;
    z-index: 1;
    background-color: #EBEBEB;
}

.calMonthsContainer {
    pointer-events: none;
}

.focusMonth > div > div {
    font-weight: bold;
    background-color: white !important;
}