:root {
	--60color: rgb(133, 66, 163);
	--30color: rgb(103, 103, 192);
	--10color: white;
}

#root {
	scroll-behavior: smooth;
}

.logo {
	background-color: black;
}

.loginCard,
.signUpCard {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginBtn {
	width: 100%;
	min-width: fit-content;
}

#calendar {
	position: relative;
	height: 768.89px;
	width: 1536px;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	z-index: 1;
	background-color: black;
}
.calendar::-webkit-scrollbar {
	display: none;
}

.calTitleGrid {
	grid-template-columns: repeat(auto-fit);
}

.dayBox {
	min-height: 128px;
	cursor: pointer;
	pointer-events: auto;
}

.dateGrid {
	flex-basis: 93%;
}

.calLabelContainer {
	display: grid;
	align-content: center;
	background-color: transparent;
	color: white;
}

.calLabelText {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: larger;
}

.focusLabel {
	transition: all 300ms;
	font-weight: bolder;
	background-color: var(--60color);
	color: white;
}

.focusLabelLeft {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.focusLabelRight {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.focusMonthCal {
	background-color: white;
}

.monthBox {
	position: relative;
	pointer-events: none;
}

.labelGridContainer {
	grid-template-columns: max-content auto max-content;
	pointer-events: none;
	/* background-color: rgba(43, 43, 43, 0.384); */
}

.transactionDrawer {
	height: 22.5%;
	-webkit-box-shadow: 0px -9px 6px -4px rgba(107, 107, 107, 0.8);
	-moz-box-shadow: 0px -9px 6px -4px rgba(107, 107, 107, 0.8);
	box-shadow: 0px -9px 6px -4px rgba(107, 107, 107, 0.8);
	transition: all 500ms;
}

.transactionForm {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: min-content;
}

.calendarContainer {
	height: 768.89px;
	width: 1536px;
}

.drawerClosed {
	transform: translateY(250px);
}
