:root {
	--mainBlack: #0a0a0a;
	--mainGray: #1A1A1A;
	--greenLogo: #6ec4a7;
	--mainWhite: white;
	--darkBlueLogo: #45596B;
	--lightBlueLogo: #647F94;
	--mainBlackTransparent: #0a0a0ab7;
	--monthBorderSize: 2px;
}

@font-face {
	font-family: 'Nunito';
	src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

#root {
	/*font-family: Nunito, sans-serif;*/
	scroll-behavior: smooth;
}

@keyframes zoomIn {
	from {
		transform: translateX(-50%) translateY(-125%);
		opacity: 0;
	}
	to {
		transform: translateX(-50%) translateY(-85%);
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
