:root {
	--60color: rgb(133, 66, 163);
	--30color: rgb(103, 103, 192);
	--10color: white;
}

.logo {
	background-color: black;
}

.loginCard,
.signUpCard {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginBtn {
	width: 100%;
	min-width: fit-content;
}

.calendar {
	height: 82.5vh;
	width: 80vw;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.calendar::-webkit-scrollbar {
	display: none;
}

.calTitleGrid {
	grid-template-columns: repeat(auto-fit);
}

.dayBox {
	min-height: 128px;
}

.dateGrid {
	flex-basis: 93%;
}

.calLabelContainer {
	display: grid;
	align-content: center;
}

.calLabelText {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: larger;
}

.focusLabel {
	transition: all 600ms;
	font-weight: bolder;
	background-color: var(--60color);
	color: white;
	z-index: 1;
}

.focusLabelLeft {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.focusLabelRight {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.focusMonthCal {
	background-color: white;
}

.monthBox {
	grid-template-columns: max-content auto max-content;
}
