:root {
	--60color: rgb(133, 66, 163);
	--30color: rgb(103, 103, 192);
	--10color: white;
}

#root {
	scroll-behavior: smooth;
}

.logo {
	background-color: black;
}

.loginCard,
.signUpCard {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginBtn {
	width: 100%;
	min-width: fit-content;
}

#calendar {
	position: relative;
	width: 1536px;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;
	z-index: 1;
	background-color: black;
}
.calendar::-webkit-scrollbar {
	display: none;
}

.calTitleGrid {
	grid-template-columns: repeat(auto-fit);
}

.dayBox {
	min-height: 128px;
	max-height: 128px;
	cursor: pointer;
	pointer-events: auto;
	position: static;
}

.dayBox:nth-of-type(5n) {
	scroll-snap-align: start;
}

.dateGrid {
	flex-basis: 93%;
}

.calLabelContainer {
	display: grid;
	position: relative;
	align-content: center;
	background-color: transparent;
	color: white;
}

.calLabelText {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: large;
}

.focusLabel {
	transition: all 300ms;
	font-weight: bolder;
	font-size: xx-large;
	background-color: var(--60color);
	color: white;
}

.focusLabelLeft {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.focusLabelRight {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.focusMonthCal {
	background-color: white;
}

.monthBox {
	position: relative;
	pointer-events: none;
}

.labelGridContainer {
	grid-template-columns: max-content auto max-content;
	pointer-events: none;
}

.transaction {
	max-width: 100%;
}

.transactionContainer {
	max-height: 100%;
	max-width: 100%;
	height: 100%;
}

.transactionContainer::-webkit-scrollbar {
	display: none;
}

.transactionContainer::-webkit-scrollbar-thumb {
	display: none;
}

.transactionDrawer {
	height: fit-content;
	transition: all 400ms;
	bottom: 0px;
}

.transactionForm {
	grid-template-columns: 0.5fr 0.5fr 0.75fr 1fr;
	grid-template-rows: min-content;
}

.calendarContainer {
	/* border-bottom: solid 1px black; */
	height: 783.5px;
	width: 1536px;
}

.drawerClosed {
	transform: translateY(130px);
}

div > .weekdayLabel {
	z-index: 5;
}

.weekdayLabel {
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
	padding: 0px 26px;
}

.addTransactionBtn {
	position: absolute;
	right: 3px;
	bottom: 3px;
	transition: all 300ms;
}

.invalidAmount {
	font-size: xx-small;
}

#dragger {
	touch-action: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#topCalBound {
	position: absolute;
	width: 100%;
	height: 30px;
	z-index: 100;
}

#bottomCalBound {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
	z-index: 100;
}

.nextTransactionPage {
	position: relative;
	top: 9.375px;
	border: 0.25rem solid transparent;
	border-right: 0;
	border-left: 0.5rem solid lightgray;
}

.prevTransactionPage {
	position: relative;
	top: 9.375px;
	border: 0.25rem solid transparent;
	border-left: 0;
	border-right: 0.5rem solid lightgray;
}

.dragOver {
	border: solid red 2px;
}
