.transaction {
	max-width: 100%;
	font-weight: 600;
	font-size: 0.65rem;
	padding: 0% 0.125rem;
}

.transactionMarquee {
	max-width: 70%;
}

.transaction > span {
	min-width: fit-content;
}

.rfm-marquee {
	margin: 0rem 0.1875rem 0rem 0rem;
}
